<h3>Zaloguj się</h3>

<form action="/admin" method="POST">

<label for="username"><b>Nazwa użytkownika</b></label>
<input type="text" placeholder="Wpisz nazwe użytkownika" name="username">

<label for="password"><b>Hasło</b></label>
<input type="password" placeholder="Wpisz hasło" name="password">

<input type="submit" value="Zaloguj" class="btn">

</form>

<!-- <h3>Zarejestruj się</h3>

<form action="/register" method="POST">

<label for="username"><b>Nazwa użytkownika</b></label>
<input type="text" placeholder="Wpisz nazwe użytkownika" name="username">

<label for="password"><b>Hasło</b></label>
<input type="password" placeholder="Wpisz hasło" name="password">

<input type="submit" value="Zarejestruj się" class="btn">

</form> -->
