<header class="header">
  <a class="header__logoAD">Admin Panel</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Blog</a>
    </ul>
  </nav>

    <div class="header__button">
      <button class="searchBtn" aria-expanded="false"> <a href="/">
        Wyjdź
      </a>
      </button>
    </div>
  </header>
  