<div class="author">
    <h1 class="author__heading">
        Siema, działa
    </h1>
    <p class="author__body"> Docięta </p> 
</div>

<!-- <img src="/img/hero-image.webp" alt="person looking out a windows" class="hero-image" width="981" height="528"> -->

<section class="aritcles">
    <h2 class="aritcles__heading">Najnowsze Posty</h2>
    <ul class="aritcle-ul">
        <li>
            <a href="#"
            <span>Tytuł Posta</span>
            <span class="article-list__date">Data</span>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>